@model VidlyF.Web.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "CustomerForm";
}

<h2>@Model.Heading</h2>

@using (Html.BeginForm(Model.Action, "Customers"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", autofocus = "autofocus" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MembershipTypeId)
        @Html.DropDownListFor(m => m.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MembershipTypeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DateTime)
        @Html.TextBoxFor(m => m.DateTime, "{0:d MMM yyyy}", new { @class = "form-control", placeholder = "eg. 1 Jan 2015" })
        @Html.ValidationMessageFor(m => m.DateTime)
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.IsSubscribedToNewsletter) Subscribed to Newsletter
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

